body {
    font-style: "Roboto";
    background-color: grey;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

header {
    /* display: flex; */
    
    background-color:  #1F2937;
    color: #F9FaF8;
    height: 400px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 20px;
    align-items: center;
}



.logo {
    font-size: 24px;
}

.links {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.container-hero {
    padding-left: 200px;
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
}

header h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.image {
    display: flex;
    margin-right: 200px;
    margin-left: 600px;
    margin-top: -200px;
    height: 200px;
    width: 50%;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

img {
    
}

.container-subtext {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
}

.main {
    background-color: grey;
    display: flex;
    color: #F9FaF8;
    height: 300px;
}

.cards {

}



.testionial {
    display: flex;
    height: 300px;
}

.sign-up {

}

footer {
    display: flex;
    margin-top: 175px;
    height: 50px;
    background-color:  #1f2937;
}